.App {
  text-align: center;
  background-color: #f4f9ff ;
  min-height: 100vh;
}

input {
  border-radius: 5px;
  border-color: rgb(209 213 219);
  box-shadow: 0 1px 2px 0 rgb(186, 190, 197);
  font-family: 'Texturina', serif;
}

input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

